.DS_Store
.vscode
/target/
!.mvn/wrapper/maven-wrapper.jar
/bin/
*.class
/out/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeansgit a
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr